@import "_animate.import.less";
@import "_colors.import.less";
@import "_sizes.import.less";
@import "_fonts.import.less";

/**
 * ----------------------------------------------------------------------------
 * Body and containers
 * ----------------------------------------------------------------------------
 */
body {
  background: #000;
}

/**
 * Make the primary container relative so that we can position things inside
 * of it with some absolute numbers.
 */
.container {
  position: relative;
}

.container,
.container-map {
  width: @screen-width;
  max-width: @screen-width;
  height: @screen-height;
  padding: 0;
  background: lighten(@background-tan, 10%);
}

/**
 * Used when loading content
 */
#spinner {
  height: 300px;
}

.not-found {
  margin-top: 50px;
  text-align: center;
}

.mouse-x,
.mouse-y {
  float: right;
  margin: 10px;
}

#screensaver {
  width: @screen-width;
  max-width: @screen-width;
  height: @screen-height;
  padding: 0;
  background: lighten(@background-tan, 10%);
  font-size: 80px;
  color: #FFF;
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

/**
 * ----------------------------------------------------------------------------
 * Animations
 * ----------------------------------------------------------------------------
 */

.page-animation {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  /*transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);,*/
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.clickDown {
  opacity: 100%;
}

@-webkit-keyframes clickDown {
  100% {
    opacity: 100%;
    transform: scale3d(1, 1, 1);
  }
  20% {
    opacity: 100%;
    transform: scale3d(1, 1, 1);
  }
  10% {
    opacity: 100%;
    transform: scale3d(.99, .99, .99);
    /*-webkit-filter: contrast(80%);*/
    -webkit-box-shadow: inset 0 0 6px #000000;
  }
  0% {
    opacity: 100%;
  }
}

/*@keyframes clickDown {*/
  /*0%, 50%, 100% {*/
    /*opacity: 1;*/
  /*}*/

  /*25%, 75% {*/
    /*opacity: 0;*/
  /*}*/
/*}*/

.clickDown {
  -webkit-animation-name: clickDown;
  animation-name: clickDown;
}


/**
 * Zoom in big
 */
@-webkit-keyframes zoomInBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
  }
}

.zoomInBig {
  -webkit-animation-name: zoomInBig;
}

/**
 * fadeOutDownBigLeft
 */
@-webkit-keyframes fadeOutDownBigLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-1000px, 2000px, 0);
    transform: translate3d(-1000px, 2000px, 0);
  }
}

@keyframes fadeOutDownBigLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-1000px, 2000px, 0);
    -ms-transform: translate3d(-1000px, 2000px, 0);
    transform: translate3d(-1000px, 2000px, 0);
  }
}

.fadeOutDownBigLeft {
  -webkit-animation-name: fadeOutDownBigLeft;
  animation-name: fadeOutDownBigLeft;
}

/**
 * ----------------------------------------------------------------------------
 * Global text styles
 * ----------------------------------------------------------------------------
 */
body {
  // This is what they want for style and visibility.
  // It just might be too much for the ammount of copy that they have
  /*font-family: 'FuturaTS-Medium', sans-serif;*/
  // This works better.
  font-family: 'FuturaTS-Regular', sans-serif;
  font-size: @body-font-size;
  line-height: @body-line-height;
}

h1, h2, h3 {
  font-family: 'FuturaTS-Demibold', sans-serif;
  margin-top: 0;
}

/**
 * ----------------------------------------------------------------------------
 * Home screen
 * ----------------------------------------------------------------------------
 */

/**
 * Home screen primary footer navigation
 */
.menu-footer {
  position: absolute;
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  width: 800px;
  padding-left: 11px;
}

.menu-footer .btn {
  font-family: 'FuturaTS-Light', sans-serif;
  float: left;
  white-space: normal;
  width: 263px;
  height: 100px;
  margin: 0;
  padding: 20px 10px 10px 15px;
  text-align: left;
  font-size: @menu-font-size;
  border: none;
  border-radius:0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-footer .btn .esp {
  color: lighten(@golden-spanish, 10%);
  font-size: @menu-font-size-esp;
  margin-top: 10px;
  line-height: 47px;
}
/**
 * ----------------------------------------------------------------------------
 * Inner pages
 * ----------------------------------------------------------------------------
 */

.body-copy {
  position: absolute;
  background: lighten(@background-tan, 6%);
  bottom: 0;
  left: 0;
  padding: 1em 1.5em 1.5em 1.5em;
  height: 100%;
  -webkit-box-shadow: 2px 2px 20px @shadow-grey;
          box-shadow: 2px 2px 20px @shadow-grey;
}

.body-copy .image {
  position: relative;
  margin-bottom: 10px;
}

.body-copy img {
  /*width: 470px;*/
}

.body-copy .credit {
  top: 10px;
  right: 15px;
  position: absolute;
  color: rgba(255, 255, 255, .5);
  font-family: 'FuturaTS-Light', sans-serif;
  font-size: 8px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
}

.body-copy .caption {
  font-family: 'FuturaTS-Light', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.body-copy,
.body-copy .btn-home {
  width: 543px;
}

.btn-home,
.btn-home:hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 35px;
  padding: 10px 0 10px 0;
  color: lighten(@background-tan, 12%);
  text-align: center;
}
