<template name="bat">
  {{#with bat}}
    <div class="bat">
      <div class="info">
        <div class="names">
          <div class="en">{{{name}}}</div>
          <div class="es">{{{nameEs}}}</div>
          <div class="latin">{{nameLatin}}</div>
        </div>
        <div class="bat-sound-description">
          <div class="en">{{{body}}}</div>
          <div class="es">{{{bodyEs}}}</div>
        </div>
      </div>
      <div class="audio">
      <video id="bat-video" width="866" height="510">
        <source src="/video/{{_id}}.mp4" type="video/mp4">
      </video>
      </div>
      <div class="headline inner">
        <div class="en">
          <h1>Looking at visual graphs of bat calls helps scientists tell them apart.</h1>
        </div>
        <div class="es">
          <h1>Observar gráficos de llamadas de murciélagos les ayuda a los científicos a distinguirlos.</h1>
        </div>
      </div>
    </div>
  {{/with}}
  <div class="btn-home">
    <span class="glyphicon glyphicon-home"></span>
  </div>
</template>
