<template name="bats">

  <h3>
    Pick a bat to listen to its call.<br>
    <span class="es">Escoja un bate para escuchar su llamada.</span>
  </h3>

  <div class="intro">
    <p>Scientists use special equipment to record bat calls our ears can’t detect.</p>
    <p>They call these sounds echolocation (ek-oh-loh-key-shun).</p>
  </div>
  <div class="intro es">
    <p>Los científicos utilizan un equipo especial para grabar bate llama nuestros oídos no pueden detectar.</p>
    <p>Ellos llaman a estos sonidos de ecolocalización (ek-oh-loh-key-shun).</p>
  </div>

  <ul>
    {{#each bats}}
      <li><a href="{{pathFor "bat"}}">{{name}}</a></li>
    {{/each}}
  </ul>

</template>
