<template name="bats">

  <div class="intro">
    <h1>Pick a bat to listen to its call.</h1>
    <p>Each bat species has its own unique call our ears usually cannot detect. Scientists use special equipment to record, hear and identify bats by these calls.</p>
  </div>
  <div class="intro-es es">
    <h1 class="es">Escoge un murciélago para escuchar su llamada.</h1>
    <p>Cada especie de murciélago tiene su llamada particular<br>que nuestros oídos generalmente no pueden detectar. Los científicos usan equipos especiales para grabar, escuchar e identificar a los murciélagos por estas llamadas.</p>
  </div>

  <div class="bat-btns">
    {{#each bats}}
      <div class="btn-bat {{_id}}">
        <img src="images/{{_id}}.png">
        <div class="en">{{{name}}}</div>
        <div class="es">{{{nameEs}}}</div>
        <div class="latin">{{nameLatin}}</div>
      </div>
    {{/each}}
  </div>

</template>
